@page "/roles"

@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Roles</h1>
        </div>
    </div>
    @if (identityRoles != null)
    {
        <div class="row">
            <div class="col">
                <DataGrid TItem="IdentityRole"
                          Data="@identityRoles"
                          TotalItems="@identityRoles.Count"
                          ShowPager="true"
                          PageSize="30"
                          Filterable="true"
                          Responsive="true"
                          Bordered="true">
                    <DataGridColumn TItem="IdentityRole" Field="@nameof(IdentityRole.Id)" Caption="Id"/>
                    <DataGridColumn TItem="IdentityRole" Field="@nameof(IdentityRole.Name)" Caption="Name"/>
                </DataGrid>
            </div>
        </div>
    }
</div>


@code
{
    [Inject]
    RoleManager<IdentityRole> RoleManager { get; set; }

    [Inject]
    NavigationManager Navigation { get; set; }

    List<IdentityRole> identityRoles;

    protected override async Task OnInitializedAsync()
    {
        identityRoles = await RoleManager.Roles.ToListAsync().ConfigureAwait(false);
    }
}