@page "/users"
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using ASP.NET_Core_Identity.BlazorAdmin.Data

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Users</h1>
        </div>
    </div>
    @if (applicationUsers != null)
    {
        <div class="row">
            <div class="col">
                <DataGrid TItem="ApplicationUser"
                          Data="@applicationUsers"
                          TotalItems="@applicationUsers.Count"
                          ShowPager="true"
                          PageSize="30"
                          Filterable="true"
                          Responsive="true"
                          Bordered="true">
                    <DataGridColumn TItem="ApplicationUser" Field="@nameof(ApplicationUser.Id)" Caption="Id"/>
                    <DataGridColumn TItem="ApplicationUser" Field="@nameof(ApplicationUser.Email)" Caption="Email"/>
                </DataGrid>
            </div>
        </div>
    }
</div>


@code
{
    [Inject]
    UserManager<ApplicationUser> UserManager { get; set; }

    [Inject]
    NavigationManager Navigation { get; set; }

    List<ApplicationUser> applicationUsers;

    protected override async Task OnInitializedAsync()
    {
        applicationUsers = await UserManager.Users.Include(x => x.Roles).Include(x => x.Claims).ToListAsync().ConfigureAwait(false);
    }
}