@page "/users"
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using IdentityManagerUI.Models

<h1>Users</h1>



@code
{
    [Inject] UserManager<ApplicationUser> UserManager { get; set; }

    List<ApplicationUser> applicationUsers;

    protected override async Task OnInitializedAsync()
    {
        applicationUsers = await UserManager.Users.Include(x => x.Roles).Include(x => x.Claims).ToListAsync().ConfigureAwait(false);
    }
}
